app {
	GET += {
		url : "index"
		controller : "com.artkostm.core.akka.typesafe.Main"
	}
	GET += {
		url : "view"
		controller : "com.artkostm.core.akka.typesafe.Main"
	}
	POST = [
		{
			url : "form1"
			controller : "com.artkostm.core.akka.typesafe.Main"
		},
		{
			url : "form2"
			controller : "com.artkostm.core.akka.typesafe.Main"
		},
		{
			url : "form3"
			controller : "com.artkostm.core.akka.typesafe.Main"
		}
	]
}