app {
	GET += {
		url : "index"
		controller : "com.artkostm.core.controller.ControllerForTest.index"
	}
	GET += {
		url : "view"
		controller : "com.artkostm.core.controller.ControllerForTest.index"
	}
	POST = [
		{
			url : "form1"
			controller : "com.artkostm.core.controller.ControllerForTest.index"
		},
		{
			url : "form2"
			controller : "com.artkostm.core.controller.ControllerForTest.index"
		},
		{
			url : "form3"
			controller : "com.artkostm.core.controller.ControllerForTest.index"
		}
	]
	
	template {
		directory = "/some/dir/"
	}
	
	netty {
		host : "127.0.0.1"
		port : 8080
	}
}